

.popup__save-button {
    background-color: #000000;
    color: white;
    width: 358px;
    height: 50px;
    margin: 31px 36px 37px 36px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 0px;
    border: none;
}

.popup__save-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width:950px) {
.popup__save-button {
    width: 238px;
    height: 46px;
    margin: 45px 22px 25px 22px;
    font-size: 14px;
    line-height: 17px;
}
}