
.popup__close-button {
    background-image: url(../../../images/close__icon/Close-Icon.png);
    width: 32px;
    height: 32px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: -40px;
    right: -40px;
    padding: 0;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width:950px) {

.popup__close-button {
    background-image: url(../../../images/close__icon/Close-Icon-2.png);
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
    object-fit: contain;
}
}



