
.elements {
    max-width: 880px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 361px);
    margin: 0 auto 67px auto;
    gap: 20px 17px;
}

@media screen and (max-width:950px) {

.elements {
    max-width: 282px;
    grid-template-columns: repeat(1, 282px);
    grid-template-rows: repeat(6, 361px);
    gap: 20px;
    margin: 0 auto 48px auto;
}
}