
.profile__edit-button {
    width: 24px;
    height: 24px;
    background-color: #000000;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
    grid-area: b;
    margin: 37.5px 0 0 18px;
    background-image: url(../../../images/edit__button/Vector.png);
    background-repeat: no-repeat;
    background-position: center;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width:950px) {

.profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 10px 0 0 10px;
    vertical-align: middle;
    background-image: url(../../../images/edit__button/Vector4.png);
}
}