
.header {
    max-width: 880px;
    width: 100%;
    border-bottom: 1px solid #545454;
    margin: 0 auto;
    max-height: 119px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:950px) {

.header {
    max-width: 320px;
    padding-bottom: 31.6px;
    padding-top: 28px;
}

}