.element__delete-icon {
    width: 18px;
    height: 19px;
    display: none;
    align-items: center;
    justify-content: center;
    background-image: url(../../../images/element__delete-img/Trash.svg);
    border: none;
    background-color: unset;
    z-index: 5;
    position: absolute;
    right: 20px;
    top: 20px;
    background-repeat: no-repeat;
}

.element__delete-icon:hover {
    opacity: 0.6;
    cursor: pointer;
}